.progress-bar-flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 1em;
  list-style: none;
}

.progress-bar-flex-item {
  height: 30px;
  margin-top: 10px;
  line-height: 30px;
  color: #000;
  text-align: center;
  flex-grow: 1;
  border: 1px solid #000;
}

.active-item {
  background: #0d66e5;
  color: white;
}
